<!-- frontend/web/templates/editOrder.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css  ">
</head>
<body>

<div class="container">
    <h2>Edit Order</h2>
    <!-- Agregar enlace para volver a la página de inicio -->
    <a href="/orders" class="btn btn-primary mb-3">Back to Home</a>
    <form id="edit-order-form">
        <input type="hidden" id="order-id" value="">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" required>
        </div>
        <div class="form-group">
            <label for="userEmail">User Email</label>
            <input type="email" class="form-control" id="userEmail" required>
        </div>
        <div class="form-group">
            <label for="saleTotal">Total Amount</label>
            <input type="number" class="form-control" id="saleTotal" required>
        </div>
        <button type="submit" class="btn btn-primary" onclick="updateOrder()">Save Changes</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js  "></script>
<script src="/static/scriptOrders.js"></script>
<script>
    // Obtener el ID del usuario de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const orderId = urlParams.get('id');
    
    // Obtener la información del usuario y llenar el formulario
    fetch(`http://192.168.80.3:5004/api/orders/${orderId}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('order-id').value = data.id;
            document.getElementById('userName').value = data.userName;
            document.getElementById('userEmail').value = data.userEmail;
            document.getElementById('saleTotal').value = data.saleTotal;
        })
        .catch(error => console.error('Error:', error));
</script>

</body>
</html>
